@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Press+Start+2P&display=swap');

* {
  background-color: #000;
	box-sizing: border-box;
	color: #fff;
	font-family: 'Press Start 2P', sans-serif;
	margin: 0;
	padding: 0;
}

/* GENERAL PURPOSE */
.gen-container {
	animation: fade-in 5s ease 1;
	margin-top: 2em;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.h2-text, .h4-text {
	margin-bottom: 1em;
}

.email, .email:hover {
	color: #fff;
	text-decoration: none;
}

.button {
  border: 2px solid #fff;
	border-radius: 0.25em;
  color: #fff;
	padding: 0.35em 1em;
  text-decoration: none;
	transition: 0.3s;
}

.button:hover {
  background-color: #062a78;
  color: #fff;
	border: 2px solid #062a78;
	padding: 0.55em 1.2em;
  text-decoration: none;
}

.normal-font, .description-font {
	font-family: Helvetica, sans-serif;
}

.normal-font {
	font-size: 1.5em;
	margin-bottom: 1em;
}

.description-font {
	font-size: 1.2em;
}

.cards {
	margin-bottom: 2em;
	transition: 0.3s;
}

.cards:hover {
	box-shadow: 0px 0px 15px 3px #062a78;
}

#btm-button {
	margin-top: 1.8em;
	margin-bottom: 3em;
}

.separator {
	background-color: #a9a9a9;
	margin: 2em 0;
}

/* NAVBAR COMPONENT */
#brand {
	color: #062a78;
	font-family: 'Bungee Shade', cursive;
	font-size: 2em;
	text-shadow: -1px 1px #fff;
}

/* HOME PAGE */
#home-container {
	height: 75vh;
}

#description {
	margin-bottom: 2em;
}

/* ABOUT ME PAGE */
#my-face {
	border-radius: 50%;
	box-shadow: 0px 0px 15px 6px #062a78; 
	height: 15em;
	width: 15em;
	margin-bottom: 1em;
}

.card-deck {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 1em;
}

.stack-icon {
	height: 60px;
	width: 60px;
	margin: 1.2em 0;
}

.contact-icon {
	height: 40px;
	width: 40px;
	margin-right: 0.5em;
}

.social-icon {
	height: 40px;
	width: 40px;
	margin: 0 0.8em 3em 0.8em;
	transition: 0.3s;
}

.social-icon:hover {
	transform: scale(1.25);
}

/* RESPONSIVENESS */
/* About Me and Portfolio Pages */
@media only screen and (max-width: 280px) {
	* {
		font-size: 0.95em;
	}
	
	.h2-text, .h4-text, h5, .card-title {
		font-size: 1em;
	}
	
	.contact-icon {
		display: none;
	}
	
	.contact-text {
		font-size: 1.1em;
	}
	
	.social-icon {
		height: 30px;
		width: 30px;
	}
}

@media only screen and (min-width: 281px) and (max-width: 420px) {
	.contact-icon {
		display: none;
	}
	
	.contact-text {
		font-size: 1.2em;
	}
	
	.social-icon {
		height: 30px;
		width: 30px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 993px) {
	* {
		font-size: 1em;
	}
	
	.h2-text, .h4-text, h5, .card-title {
		font-size: 1.1em;
	}
}